body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  /*z-index: 1;*/
  /*top: 0;*/
  background-color: #111;
  overflow-x: hidden;
  color: white;
}
.sidebar-left {
  left: 0;
}
.sidebar-right {
  right: 0;
}

.info-window {
  height: 50%;
  width: 100%;
  /*border: 1px solid #ccc;*/
  overflow: auto;
  white-space: pre-wrap;
}
