body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
}

.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  /*z-index: 1;*/
  /*top: 0;*/
  background-color: #111;
  overflow-x: hidden;
  color: white;
}
.sidebar-left {
  left: 0;
}
.sidebar-right {
  right: 0;
  padding: 5px;
}

.details-view {
  /*margin: 3px;*/
}

.facet-details {
  border-radius: 8px;
  background: #333333;
  padding: 8px;
  margin-top: 10px;
  font-size: 0.7em;
  /*width: 200px;*/
  /*height: 150px;*/
}

.facet-header {
  font-size: 25px;
}

.facet-stats {
  font-size: 18px;
}

.facet-description {
  font-size: 12px;
}

.facet-icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 6px;
}

.info-window {
  height: 50%;
  width: 100%;
  /*border: 1px solid #ccc;*/
  overflow: auto;
  white-space: pre-wrap;
}
